/**
 * Custom Footer Styles
 * Minimal footer design
 */

.footer {
  text-align: center;
  padding: var(--ifm-spacing-vertical) var(--ifm-container-padding);
  margin-top: auto;
  border-top: 1px solid var(--ifm-background-border-color);
  background: var(--ifm-background-color);
}

.copyright {
  font-size: 0.875rem;
  color: var(--ifm-font-color-secondary);
  margin: 0;
  padding: 1rem 0;
  font-weight: 500;
}
